name: test building changes

on:
  push:
    branches: [master, main]
    paths:
    - "*.yml"
    - "**/*.yaml"

jobs:
  git-diff:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - uses: actions/checkout@v2
    - id: set-matrix
      run: echo "::set-output name=matrix::{\"include\":$(git diff --name-only . | jq -R -s -c 'split(\"\\n\")[:-1]')}"
  build:
    needs: git-diff
    runs-on: ubuntu-20.04
    strategy:
      matrix: ${{fromJson(needs.git-diff.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
      - name: build ${{ matrix }}
        run: echo "running build on ${{ matrix }}"
