name: test building changes

on:
  push:
    branches: [master, main]
    paths:
    - "*.yml"
    - "**/*.yaml"

jobs:
  git-diff:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - uses: actions/checkout@v2
    - id: set-matrix
      # run: echo "::set-output name=matrix::{\"include\":$(git diff --name-only . | jq -R -s -c 'split("\n")[:-1]')}"
      run: |
        ARY=$(git diff --name-only . | jq -R -s -c 'split("\n")[:-1] | map({file: .})')
        if [ $ARY!="[]"]; then echo "::set-output name=HAS_CHANGES::true"
        echo "::set-output name=matrix::{\"include\": $ARY}"
  build:
    needs: git-diff
    runs-on: ubuntu-20.04
    if: ${{needs.git-diff.outputs.HAS_CHANGES)}}
    strategy:
      matrix: ${{fromJson(needs.git-diff.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
      - name: build ${{ matrix.include }}
        run: echo "running build on ${{ matrix }}"
